* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, 'Lato', 'roboto', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  background-image: url('http://127.0.0.1:5500/dist/b190d3df533764e4f333.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  image-rendering: -webkit-optimize-contrast;
  color: #000;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20%;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

.logo {
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  color: #f9faf8;
}

a {
  text-decoration: none;
  color: #fff;
}

.links {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
}

.grid-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 40px;
  margin: 0 9%;
}

.grid-item {
  width: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  box-shadow: 2px 2px 17px 0;
}

img {
  width: 100%;
  height: 240px;
  border-radius: 5px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
}

h2,
.likes {
  font-size: 13px;
}

.material-symbols-outlined {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.material-symbols-outlined:active {
  color: #d23c22;
}

.likes {
  text-align: start;
  padding: 0 4%;
}

p {
  margin: 0;
}

button {
  width: 90%;
  margin: 10px 9px;
  background-color: #ec5242;
  color: #f0f2f5;
  border: 0;
  padding: 2%;
  border-radius: 5px;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #0a0a23;
  color: #fff;
  border-top: 4px solid #fdb347;
  padding: 32px 0;
  vertical-align: middle;
}

footer * {
  margin: 2px;
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f5f6f7;
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
}

.close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 60px);
  padding: 16px 0 16px 20px;
}

.close h1 {
  flex: 1;
  text-align: center;
}

.popup img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.close a img {
  width: 36px;
  height: 36px;
}

.description {
  width: 60%;
  margin: 0 auto;
}

#food-image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.title {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 8px 0;
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 0;
}

#recipe-info {
  width: 100%;
  display: flex;
  gap: 8px;
  margin: 0 auto;
}

#recipe-info .recipe {
  width: 50%;
}

#recipe-info .recipe h3 {
  width: 100%;
  margin: 20px 0 5px;
  text-align: left;
}

#recipe-info .recipe ul,
#recipe-info .recipe ol {
  margin-left: -20px;
}

#comments-list li {
  padding-bottom: 8px;
}

#recipe-info .recipe li {
  margin: 8px 0;
}

#add-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 54px 0;
}

#comments-title {
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 8px 0;
  font-size: 24px;
  font-weight: 700;
}

#add-comment input[type=text],
textarea {
  padding: 0.5em;
  border: 1px solid #b8b7b7;
  border-radius: 4px;
  width: 100%;
  margin: 8px 0;
}

#add-comment input[type=submit] {
  margin-top: 16px;
  padding: 8px 32px;
  align-self: flex-start;
  border: none;
  border-radius: 4px;
  background-color: #ec5242;
  color: #fff;
}

#add-comment input[type=submit]:hover {
  background-color: #234342;
  color: #fff;
}

#add-comment h2 {
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 8px 0;
  font-size: 24px;
  font-weight: 700;
}

#comments-list {
  list-style-type: none;
  text-indent: -40px;
}
